body {
    font-size: 16px;
    line-height: 1.2em;
    width: 50em;
    margin-left: auto;
    margin-right: auto;
    font-family: Times;
    margin-top: 2em;
    margin-bottom: 8em;
}

h1 {
    margin-bottom: 0;
}

ul#contact {
    padding: 0;
    margin-top: 0.5em;
}

ul#contact li {
    list-style-type: none;
    display: inline-block;
}

hr {
    border-top: 1px solid #999;
    border-bottom: 0;
}

#contact li+li:before {
    content: " •  ";
}

#resume>dt { /* section titles */
    font-weight: bold;
    font-style: normal;
    float: left;
    width: 15%;
}

.clear {
    height: 1em;
    clear: both;
}

.hidden {
    display: none;
}

#resume>dd { /* section bodies */
    float: right;
    width: 80%;
}

dt.title {
    font-weight: bold;
    font-style: normal;
}

dt.duration {
    float: right;
    margin-top: -1.3em;
}

dt {
    font-style: italic;
}

dd dl, dd ul {
    margin: 0;
    padding: 0;
}

dd.experience ul, ul#courses {
    margin-top: 0.5em;
}

dd dl dd+dt {
    margin-top: 0.5em;
}

dd dl dt+dt {
    margin-top: 0.25em;
}

#courses li {
    list-style-type: none;
    width: 12em;
    display: inline;
    float: left;
}
